<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SQLite viewer</title>
  <style>
    table, th, td {
      border: 1px solid black;
    }
    .db {
      display: flex;
      margin-bottom: 50px;
    }
    .todos {
      margin-right: 200px;
    }
    .completed {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div class="db">
    <table class="todos">
      <caption>Todos</caption>
      <tr>
        <th>id</th>
        <th>description</th>
        <th>completed</th>
        <th>list_id</th>
      </tr>
      {% for t in todos %}
      <tr>
        <td>{{ t.id }}</td>
        <td>{{ t.description }}</td>
        <td>{{ t.completed }}</td>
        <td>{{ t.list_id }}</td>
      </tr>
      {% endfor %}
    </table>
    <table>
      <caption>Lists</caption>
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
      {% for l in lists %}
      <tr>
        <td>{{ l.id }}</td>
        <td>{{ l.name }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="ui">
    {% for l in lists %}
    <h2>{{ l.name }}</h2>
    <ul>
      {% for t in l.todos %}
      {% if t.completed %}
        <li class="completed">{{ t.description }}</li>
      {% else %}
        <li>{{ t.description }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
  </div>

</body>
</html>